* {
    margin: 0px;
}


html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.sidebar {
    margin-left: -30px;
    width: 210px;
    height: 100%;
    position: fixed;
    background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);/*background: url("http://themes.mediacreed.com/html/synergy/assets/patterns/menu/menu_pattern_1.png");*/
    border-right: 10px solid #2575fc;
}

    .sidebar ul {
        margin-top: 30px;
        padding-left:0px;
        text-align:center;
    }

    .sidebar li {
        list-style: none;
        padding: 10px;
        position: relative;
    }

    .sidebar a {
        text-decoration: none;
        color: #555;
        font: 14px Open Sans;
        text-transform: uppercase;
        position: relative;
        z-index: 1000;
    }

    .sidebar .hover {
        display: block;
        position: absolute;
        width: 0%;
        height: 40px;
        top: 0px;
        left: 0px;
        background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
        z-index: 0;
        opacity: 0;
    }

    .sidebar a:hover {
        color: #FFF;
    }

    .sidebar .fa-angle-right {
        position: absolute;
        left: 150px;
        top: 1px;
    }

    .sidebar .sub-menu {
        position: absolute;
        left: 100%;
        top: -30px;
        padding: 0px;
        width: 100%;
        display: none;
        z-index: 1;
    }

        .sidebar .sub-menu li a {
            padding-left: 20px;
            font-size: 13px;
        }

        .sidebar .sub-menu i {
            left: 180px;
        }

    .sidebar ul li:hover ul {
        display: block;
    }

    .sidebar .push {
        margin-right: 10px;
    }

h1 {
    color: #FFF;
    font: 16px Open Sans;
    padding-left: 50px;
    padding-top: 30px;
}

.color {
    color: #d00355;
}
